<a href="https://colab.research.google.com/github/Midmost/AI/blob/master/EDA_gu_0419_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Korean District in Seoul budget EDA

## Dependencies

In [89]:
from google.colab import drive
drive.mount('/content/drive')

!pip install --upgrade pandas

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (2.0.0)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Basic information

In [90]:
import pandas as pd
import numpy as np
from pandas.io.formats.info import DataFrameInfo


# excel path
xlsx_file_path = "/content/drive/MyDrive/DATA/pdf2xlsx/editXL/X_금천구_예산서.xlsx" # TODO: 폴더를 OS로 읽고 

# pure excel to pure dataframe and information with a visual-table
df = pd.read_excel(xlsx_file_path)
DataFrameInfo
df

,의회사무국,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,4378308,3669207,709101
0,NaN,선진의회상 정립,NaN,NaN,NaN,NaN,NaN,NaN,1228222,1121974,106248
1,NaN,NaN,의정활동 지원과 홍보,NaN,NaN,NaN,NaN,NaN,1228222,1121974,106248
2,NaN,NaN,NaN,의정활동 지원,NaN,NaN,NaN,NaN,88360,97951,"△9,591"
3,NaN,NaN,NaN,NaN,201 일반운영비,NaN,NaN,NaN,36860,36759,101
4,NaN,NaN,NaN,NaN,NaN,01 사무관리비,NaN,NaN,21860,17759,4101
...,...,...,...,...,...,...,...,...,...,...,...
21288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"시 2,070",NaN,NaN
21289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"구 2,070",NaN,NaN
21290,NaN,NaN,NaN,생명존중센터 운영,NaN,NaN,NaN,NaN,22068,21666,402
21291,NaN,NaN,NaN,NaN,201 일반운영비,NaN,NaN,NaN,3968,3566,402
21292,NaN,NaN,NaN,NaN,NaN,01 사무관리비,NaN,NaN,1676,1676,0

In [91]:
# drop the 0,1,2 rows because of starting page
df = pd.read_excel(xlsx_file_path, header = None)

## Pre-processing

#### Add a new column to the first index of the dataframe

In [92]:
my_bytes = b'\xea\xb8\x88\xec\xb2\x9c\xea\xb5\xac' # TODO: 매번 bytes로 디코드를 해줘야 하나...? insert를 할 때 한글이 깨지는 문제가 있어서 디코드르 해주고 다시 uft-8로 함. 
my_gu = my_bytes.decode('utf-8')

df.insert(0, 'gov', my_gu)

In [93]:
df

,gov,0,1,2,3,4,5,6,7,8,9,10
0,금천구,의회사무국,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4378308,3669207,709101
1,금천구,NaN,선진의회상 정립,NaN,NaN,NaN,NaN,NaN,NaN,1228222,1121974,106248
2,금천구,NaN,NaN,의정활동 지원과 홍보,NaN,NaN,NaN,NaN,NaN,1228222,1121974,106248
3,금천구,NaN,NaN,NaN,의정활동 지원,NaN,NaN,NaN,NaN,88360,97951,"△9,591"
4,금천구,NaN,NaN,NaN,NaN,201 일반운영비,NaN,NaN,NaN,36860,36759,101
...,...,...,...,...,...,...,...,...,...,...,...,...
21289,금천구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"시 2,070",NaN,NaN
21290,금천구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"구 2,070",NaN,NaN
21291,금천구,NaN,NaN,NaN,생명존중센터 운영,NaN,NaN,NaN,NaN,22068,21666,402
21292,금천구,NaN,NaN,NaN,NaN,201 일반운영비,NaN,NaN,NaN,3968,3566,402
21293,금천구,NaN,NaN,NaN,NaN,NaN,01 사무관리비,NaN,NaN,1676,1676,0

### Put the merged column(bizdetail)

##### Make a new empty-column for bizdetail

In [94]:
# Find the index of the '5' column
index = df.columns.get_loc(5)

# Insert a new column after it
df.insert(index + 1, 'new_column', '')

In [95]:
df

,gov,0,1,2,3,4,5,new_column,6,7,8,9,10
0,금천구,의회사무국,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,4378308,3669207,709101
1,금천구,NaN,선진의회상 정립,NaN,NaN,NaN,NaN,,NaN,NaN,1228222,1121974,106248
2,금천구,NaN,NaN,의정활동 지원과 홍보,NaN,NaN,NaN,,NaN,NaN,1228222,1121974,106248
3,금천구,NaN,NaN,NaN,의정활동 지원,NaN,NaN,,NaN,NaN,88360,97951,"△9,591"
4,금천구,NaN,NaN,NaN,NaN,201 일반운영비,NaN,,NaN,NaN,36860,36759,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21289,금천구,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,"시 2,070",NaN,NaN
21290,금천구,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,"구 2,070",NaN,NaN
21291,금천구,NaN,NaN,NaN,생명존중센터 운영,NaN,NaN,,NaN,NaN,22068,21666,402
21292,금천구,NaN,NaN,NaN,NaN,201 일반운영비,NaN,,NaN,NaN,3968,3566,402
21293,금천구,NaN,NaN,NaN,NaN,NaN,01 사무관리비,,NaN,NaN,1676,1676,0

##### Add headers *check needed

In [96]:
header_all = "gov,dept,policy,danwi,task,acct1,acct2,bizdetail,bizdetailadd,detailamt,budget22,budget21,budgetdiff"
header = header_all.split(",")
df.columns = header

In [97]:
df

,gov,dept,policy,danwi,task,acct1,acct2,bizdetail,bizdetailadd,detailamt,budget22,budget21,budgetdiff
0,금천구,의회사무국,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,4378308,3669207,709101
1,금천구,NaN,선진의회상 정립,NaN,NaN,NaN,NaN,,NaN,NaN,1228222,1121974,106248
2,금천구,NaN,NaN,의정활동 지원과 홍보,NaN,NaN,NaN,,NaN,NaN,1228222,1121974,106248
3,금천구,NaN,NaN,NaN,의정활동 지원,NaN,NaN,,NaN,NaN,88360,97951,"△9,591"
4,금천구,NaN,NaN,NaN,NaN,201 일반운영비,NaN,,NaN,NaN,36860,36759,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21289,금천구,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,"시 2,070",NaN,NaN
21290,금천구,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,"구 2,070",NaN,NaN
21291,금천구,NaN,NaN,NaN,생명존중센터 운영,NaN,NaN,,NaN,NaN,22068,21666,402
21292,금천구,NaN,NaN,NaN,NaN,201 일반운영비,NaN,,NaN,NaN,3968,3566,402
21293,금천구,NaN,NaN,NaN,NaN,NaN,01 사무관리비,,NaN,NaN,1676,1676,0

##### set the columns values

In [98]:
columns_to_fill ="gov,dept,policy,danwi,task,acct1,acct2,bizdetail".split(",") # '부서', '정책', '단위', '세부사업', '편성목', '편성운영비'
# columns_to_fill = header[:5] 이 방법으로도 가능

for col in columns_to_fill:
    df[col] = df[col].fillna(method='ffill')

fill df['bizdetail']

In [99]:
df['bizdetailadd'] = df['bizdetailadd'].astype(str).replace('nan', '')
df['detailamt'] = df['detailamt'].astype(str).replace('nan', '')
df['bizdetail'] = df['bizdetailadd'] + df['detailamt']

if df['bizdetailadd'] startwith('1)') then delete the cell's content

In [100]:
df

,gov,dept,policy,danwi,task,acct1,acct2,bizdetail,bizdetailadd,detailamt,budget22,budget21,budgetdiff
0,금천구,의회사무국,NaN,NaN,NaN,NaN,NaN,,,,4378308,3669207,709101
1,금천구,의회사무국,선진의회상 정립,NaN,NaN,NaN,NaN,,,,1228222,1121974,106248
2,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,NaN,NaN,NaN,,,,1228222,1121974,106248
3,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,NaN,NaN,,,,88360,97951,"△9,591"
4,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,NaN,,,,36860,36759,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21289,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,,,,"시 2,070",NaN,NaN
21290,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,,,,"구 2,070",NaN,NaN
21291,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,생명존중센터 운영,301 일반보전금,14 기타보상금,,,,22068,21666,402
21292,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,생명존중센터 운영,201 일반운영비,14 기타보상금,,,,3968,3566,402
21293,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,생명존중센터 운영,201 일반운영비,01 사무관리비,,,,1676,1676,0

In [101]:
# Create a boolean mask where True indicates that the cell value starts with '1)'
mask = df['bizdetailadd'].str.startswith('1)')

# Set the values of the selected cells to an empty string
df.loc[mask, 'bizdetailadd'] = ''

In [112]:
# 1. DataFrame after dropping empty rows:
df = df[df['bizdetail'] != '']

In [113]:
df

,gov,dept,policy,danwi,task,acct1,acct2,bizdetail,bizdetailadd,detailamt,budget22,budget21,budgetdiff
6,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,1)일반수용비,,,17920,NaN,NaN
7,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,2)입법· 법률고문 고문료,2)입법· 법률고문 고문료,,NaN,NaN,NaN
8,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,"220,000원*2명*12월",,"220,000원*2명*12월",5280,NaN,NaN
9,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,2)인쇄물 및 유인물비,2)인쇄물 및 유인물비,,7440,NaN,NaN
10,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,"3)봉투 1호(210*93)200원*2,000장",3)봉투 1호(210*93),"200원*2,000장",400,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21277,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,"140,000원*38회",,"140,000원*38회",5320,NaN,NaN
21281,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,1)게이트키퍼 운영강사료,,,NaN,NaN,NaN
21282,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,"290,000원*6회",,"290,000원*6회",1740,NaN,NaN
21286,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,1)준사례관리자 활동보상금,,,NaN,NaN,NaN
21287,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,"30,000원*23명*12월",,"30,000원*23명*12월",8280,NaN,NaN

## Export

In [114]:
df = df.reset_index(drop=True) # to_excel에서 index를 버릴 수 있지만 혹시 모르니 넣어둠

# Export the DataFrame to an Excel file
df.to_excel('Geumcheon-gu_0420.xlsx', index=False)

# TODO:

### Change '예시' style xlsx to original PDF format

### Change code format more clearly and fit to '예시'

1. if bizdetail's row is empty, drop it
2. if bizdetailadd's row index == i
3. && detailamt's row index == i+1
4. concate i row && i+1 row
    1. i+1행의 df[’detailamt’]에 해당하는 값을 복사(혹은 잘라내기)
    2. i행의 df[’detailamt’]에 복사한 값을 붙여넣기
    3. df[’detailamt’]의 값이 NULL인 곳을 모두 확인하라
    4.  df[’bizdetailadd ’]의 값이 NULL인 곳을 모두 확인하라
    5. c와 d를 충족하는 경우의 모든 rows를 drop

In [103]:


# 1. Copy (or cut) the value in the 'detailamt' column at index i+1 and paste it into the 'detailamt' column at index i
for i in df2.index:
    if i+1 in df2.index:
        df2.loc[i, 'detailamt'] = df2.loc[i+1, 'detailamt']

# 2. Check for rows where the value in the 'detailamt' column is NULL
mask1 = df2['detailamt'].isnull()

# 3. Check for rows where the value in the 'bizdetailadd' column is NULL
mask2 = df2['bizdetailadd'].isnull()

# 4. Drop all rows that satisfy both conditions 2 and 3
df2 = df2[~(mask1 & mask2)]
df2

,gov,dept,policy,danwi,task,acct1,acct2,bizdetail,bizdetailadd,detailamt,budget22,budget21,budgetdiff
6,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,1)일반수용비,,,17920,NaN,NaN
7,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,2)입법· 법률고문 고문료,2)입법· 법률고문 고문료,"220,000원*2명*12월",NaN,NaN,NaN
8,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,"220,000원*2명*12월",,,5280,NaN,NaN
9,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,2)인쇄물 및 유인물비,2)인쇄물 및 유인물비,"200원*2,000장",7440,NaN,NaN
10,금천구,의회사무국,선진의회상 정립,의정활동 지원과 홍보,의정활동 지원,201 일반운영비,01 사무관리비,"3)봉투 1호(210*93)200원*2,000장",3)봉투 1호(210*93),"220원*2,000장",400,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21277,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,"140,000원*38회",,"140,000원*38회",5320,NaN,NaN
21281,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,1)게이트키퍼 운영강사료,,"290,000원*6회",NaN,NaN,NaN
21282,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,"290,000원*6회",,"290,000원*6회",1740,NaN,NaN
21286,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,1)준사례관리자 활동보상금,,"30,000원*23명*12월",NaN,NaN,NaN
21287,금천구,건강증진과,질병예방과 건강증진,정신건강 및 생명존중 문화조성,지역자살예방 및 정신건강증진사업,301 일반보전금,14 기타보상금,"30,000원*23명*12월",,"30,000원*23명*12월",8280,NaN,NaN

In [104]:
# Create a boolean mask to select rows where the value in the 'bizdetailadd' column starts with '3)'
mask = df2['bizdetailadd'].str.startswith('3)')

# Set the values in the 'detailamt' column for the selected rows to their original values
df2.loc[mask, 'detailamt'] = df2.loc[mask, 'detailamt']

# Drop empty rows from the DataFrame `df` and create a new DataFrame `df2`
df2 = df[df['bizdetail'] != '']

# Copy or cut the value in the 'detailamt' column at index i+1 and paste it into the 'detailamt' column at index i
for i in df2.index:
    if i+1 in df2.index:
        df2.loc[i, 'detailamt'] = df2.loc[i+1, 'detailamt']

# Check for rows where the value in the 'detailamt' column is NULL
mask1 = df2['detailamt'].isnull()

# Check for rows where the value in the 'bizdetailadd' column is NULL
mask2 = df2['bizdetailadd'].isnull()

# Drop all rows that satisfy both conditions 2 and 3
df2 = df2[~(mask1 & mask2)]

In [ ]:
df2

In [ ]:
#If you want to shift the values in the ‘budget22’ column by -1/
mask = df2['bizdetailadd'].isnull() & ~df2['detailamt'].isnull()
df2.loc[mask, 'detailamt'] = df2.loc[mask, 'detailamt'] + df2.loc[mask, 'detailamt'].shift(-1)
df2.loc[mask, 'budget22'] = df2.loc[mask, 'budget22'].shift(-1)

for i in df2.index:
    if pd.isnull(df2.loc[i, 'detailamt']) and i+1 in df2.index:
        df2.loc[i, 'budget22'] = df2.loc[i+1, 'budget22']

In [ ]:
# bizdetailadd가 '3)' 으로 시작하는 경우에는 detailamt의 값들이 그대로 있어야함. 
# bizdetailadd가 '1)' 과 '2)' 으로 시작하는 경우에만 적용이 되어야함

# Create a boolean mask to select rows where the value in the 'bizdetailadd' column starts with '3)'
mask = df2['bizdetailadd'].str.startswith('3)')

# Set the values in the 'detailamt' column for the selected rows to their original values
df2.loc[mask, 'detailamt'] = df2.loc[mask, 'detailamt']

In [ ]:
df2

In [ ]:
# Iterate over the index of the DataFrame
for i in df2.index:
    # Set the value of the 'budget22' column at index `i` to `original`
    original = df2.loc[i, 'budget22']
    
    # Check if the condition `df2.columns.get_loc('budget22') == i-1` is `True`
    if df2.columns.get_loc('budget22') == i-1:
        # If the index of the 'detailamt' column is `i`, then paste the value of `original` into the 'budget22' column at index `i-1`
        if df2.columns.get_loc('detailamt') == i:
            df2.loc[i-1, 'budget22'] = original